 
/*navbar*/
.navbar{
	background-color: #190B07;
	color: white;
}


/*Fundo do DropDouwn da navbar*/
.dropdown-item.active{
    color: #fff;
    text-decoration: none;
    background-color: #190B07;
}
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #61210B;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.button_like {
	margin-left : 361px;
	margin-top : -5px;
	position : absolute;
	background-color : green;
	}
	
.button_dislike {
	margin-left : 400px;
	margin-top : -5px;
	position : absolute;
	background-color : red;
	}
	
.upload_music {
	position : absolute;
	margin-top : 35px;
	margin-left : 500px;
	}
	
#formUpWav{
	position: absolute;
	}


.dropdown a:hover {background-color: #ddd}

.show {display:block;}

/*Titulo Principal com imagem nas letras*/
.ti{
	width:100%;
	height:auto;
	text-transform: uppercase;
	text-align: center;
	color:white;
	font-weight:700;
	font-size: 10em;
	background-image:url(../img/2.jpg);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

